<%- include('head') %>
<form action="" method="post">
  <label for="url">url:</label>
  <input
    type="text"
    name="url"
    id="url"
    placeholder="eg. https://example.com"
  />
  <button type="submit">create</button>
</form>
<%- include('foot') %>
